$text: #333;
$lightertext: #444;
$lighttext: #666;
$background: white;
$blue: #1693a7;
$grey: #f6f6f5;
$lightgrey: #fcfcfb;
$orange: #FF9500;
$magenta: #333;
$light_magenta: #F25A7D;
$light_magenta: $magenta;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dtfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background: $background;
    font-size: 125%;
    line-height: 1.5em;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2","serif";
    color: $text;
    hyphens: auto;
    border-top: 0.2rem $text solid;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
::-moz-selection {
  color:white;
  background: $text;
}

::selection {
  color: white;
  background: $text;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Typography */

em {
  font-style:italic;
}

p {
  margin-bottom:1.5em;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1 {
  color: $lightertext;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
  margin-bottom: 0.75rem;
}

h2, h3 {
  font-size: 1rem;
  margin-top: -0.75em;
  margin-bottom: 0.75em;
}

.m, .mono, pre, code {
  font-family: Menlo, Monaco, DejaVu Sans Mono, monospace;
  margin-bottom: 1.5em;
  overflow:auto;
}

pre, code {
  font-size: 0.90rem;
  line-height: 1.5rem;
  margin-left: -1rem;
  padding-left: 0.6rem;
  border-left: 0.4rem solid #eee;
}

hr {
  margin-top: 3.2rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-bottom: 2px #eee solid;
  width: 20rem;
}

time {
  font-size: 0.95rem;
  color: $lighttext;
  font-style:italic;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

ul, ol {
  margin-bottom:1.5em;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style:circle;
  list-style-position:inside;
}

li {
  line-height:1.5em;
}

a {
  color: inherit;
  padding:0em 0.1em;
  margin:0em -0.1em;
}

a:hover {
  color: black;
}


header {
  max-width: 30rem;
  margin: 0 auto;
  margin-top: 3rem;
}

header h1 a {
  font-weight: normal;
  text-decoration: none;
}

header p {
  font-size: 0.95rem;
}

/* Blog post list */
.postlist {margin:1em 0 0 2em; float:left}

.meta p {
  font-size:2.4em;
  font-weight:300;
  line-height: 2em;
  margin-bottom: 16px;
}

article {
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 1.5em;
}

article h1 a {
  text-decoration: none;
}

footer {
  margin-top:3.2em;
  padding-top:1.5em;
  padding-bottom:1.5em;
  border-top:1px solid #ccc;
  background: #eee;
  width:100%;
  text-align:center
}

footer a {color: $magenta; border:2px #eee dotted;
  text-decoration: none;
  -moz-transition: border 0.3s ease-in;
  -webkit-transition: border 0.3s ease-in;
  font-weight: bold
}

.meta { float:left}

a>img {
  transition: border-color 0.3s ease-in;
  -moz-transition: border-color 0.3s ease-in;
  -webkit-transition: border-color 0.3s ease-in;
  margin: -0.5em;
  border: 0.5em solid white;
}
a>img:hover {
  margin: -0.5em;
  border: 0.5em solid $grey;
}

/* Thumbnail image styling */
.thumb {border:none;}
a.thumb:hover {border:none}
a.thumb>img {
  margin-top:-12px;
  margin-bottom:12px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
a.thumb:hover>img {
}

.bookimg {
  margin:0;
}

.small {
  font-size: 0.8rem;
  line-height: 1.5em;
}
