$text: #444;
$lightertext: #222;
$lighttext: #666;
$lightesttext: #999;
$background: white;
$grey: #f6f6f5;
$lightgrey: #fcfcfc;

@font-face {
    font-family: 'fira_mono_ot';
    src: url('/resources/fonts/firamonoot-bold-webfont.eot');
    src: url('/resources/fonts/firamonoot-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/firamonoot-bold-webfont.woff') format('woff'),
         url('/resources/fonts/firamonoot-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'fira_mono_ot';
    src: url('/resources/fonts/firamonoot-regular-webfont.eot');
    src: url('/resources/fonts/firamonoot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/firamonoot-regular-webfont.woff') format('woff'),
         url('/resources/fonts/firamonoot-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dtfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background: $background;
    font-size: 18px;
    line-height: 1.5em;
    font-family: "freight-sans-pro-1", "freight-sans-pro-2", sans-serif;
    color: $text;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-rendering: optimizeLegibility;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
::-moz-selection {
    color:white;
    background: $text;
}

::selection {
    color: white;
    background: $text;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.centered {
    max-width: 40rem;
    width: 90%;
    margin: 0 auto;
}

/* Typography */

em {
    font-style:italic;
}

p {
    margin-bottom:1.5em;
}

.smcp {
    font-feature-settings: "smcp" on;
}

h1 {
    -webkit-font-smoothing: antialiased;
    color: $lightertext;
    font-size: 2rem;
    line-height: 1em;
    margin-bottom: 0rem;
}

strong, b {
    font-weight: bold;
}

h2, h3 {
    font-size: 1em;
    margin-top: -0.75em;
    margin-bottom: 0.75em;
    font-weight: bold;
}

.m, .mono, pre, code {
    font-family: 'fira_mono_ot', Menlo, Consolas, monospace;
    margin-bottom: 1.5em;
    overflow: auto;
}

pre, code {
    font-size: 0.90rem;
    line-height: 1.5rem;
    font-feature-settings: "liga" off;
}

hr {
    margin-top: 3em;
    margin-bottom: 1.5em;
    border: 0;
    border-bottom: 2px $grey solid;
    max-width: 90%;
    width: 20em;
}

time {
    font-size: 0.95rem;
    font-weight: 600;
    color: $lightesttext;
}

ul, ol {
    margin-bottom:1.5em;
}

ol {
    list-style: decimal inside;
}

ul {
    list-style: no;
    list-style-position:inside;
}

ul li:before {
    content: "+ ";
}

li {
    line-height:1.5em;
}

a {
    color: inherit;
    text-decoration:none;
    padding:0em 0.1em;
    margin:0em -0.1em;
}

a {
    font-weight: 600;
}

article a {
    text-decoration:none;
    padding: 0.1em 0.2em;
    margin: -0.1em -0.2em;
    transition: 0.3s background ease;
    -moz-transition: 0.3s background ease;
    -webkit-transition: 0.3s background ease;
}

article a:hover {
    background-color: $grey;
}

header {
    max-width: 30rem;
    width: 75%;
    margin: 0 auto;
    margin-top: 3rem;
}

header ul {
    text-align: center;
    font-size: 0.95rem;
}

header ul li:before {
    content: "";
}

header ul li {
    margin-right: 0.5em;
    display: inline-block;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

header a {
    text-decoration: none;
    padding: 0.1em 0.2em;
    font-weight: bold;
    transition: 0.3s background ease;
    -moz-transition: 0.3s background ease;
    -webkit-transition: 0.3s background ease;
}

header a:hover {
    background: $grey;
}

header h1 a {
    line-height: 3rem;
    font-weight: normal;
    text-decoration: none;
}

header p {
    font-size: .8em;
    margin-bottom: 0;
}

/* Blog post list */
.postlist {margin:1em 0 0 2em; float:left}

.meta p {
    font-size:2.4em;
    font-weight:300;
    line-height: 2em;
    margin-bottom: 16px;
}

article {
    margin-top: 4rem;
    margin-bottom: 1.5em;
}

article h1 a {
    text-decoration: none;
    font-weight: 600;
}

footer {
    border-top: 1px solid $lightgrey;
    background: $grey;
    width: 100%;
    text-align: center;
}

footer a {
    color: $lightertext;
    font-weight: bold;
    text-decoration: none;
    transition: border 0.3s ease-in;
    -moz-transition: border 0.3s ease-in;
    -webkit-transition: border 0.3s ease-in;
}

footer small {
    color: $lighttext;
    font-weight: bold;
}

img {
    width: 100%;
}

a>img {
    transition: border-color 0.3s ease-in;
    -moz-transition: border-color 0.3s ease-in;
    -webkit-transition: border-color 0.3s ease-in;
    margin: -0.5em;
    border: 0.5em solid white;
}

a>img:hover {
    margin: -0.5em;
    border: 0.5em solid $grey;
}

.thumb {border:none;}
a.thumb:hover {border:none}
a.thumb>img {
    margin-top:-12px;
    margin-bottom:12px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

small {
    font-size: 0.95rem;
    line-height: 1.5em;
}

$footer-height: 8em; // Set to however many lines of text you want to have in your footer. Sorry, no dynamic option here.
html, body { height: 99.8%; }
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto ($footer-height * -1);
    overflow: hidden;
}
#wrap > *:last-child {
    padding-bottom: $footer-height;
}
.sticky {
    height: $footer-height;
}

@import "_syntax";
