$black: #444;
$blue: #1693a7;
$grey: #f6f6f5;
$lgrey: #fcfcfb;
$orange: #FF9500;
$magenta: #444;
$light_magenta: #F25A7D;
$light_magenta: $magenta;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dtfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background:white;
    font-size:14px;
    font-family: Open Sans, 'Droid Sans', 'Lucida Grande', 'Segoe UI', sans-serif;
    font-weight:400;
    color: $black;
    -moz-font-features:"onum=1,pnum=1,liga=1";
    border-top:4px $magenta solid;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
::-moz-selection {
  color:#fdfdfd;
  background:$lgrey;
}

::selection {
  color:#fdfdfd;
  background:$light_magenta;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Typography */

.bold { font-weight:700; }
.heavy { font-weight:800; }
.italic { font-style:italic; }

em {
  font-style:italic;
}

p {
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom:1.6em;;
}

h1,h2,h3,h4,h5,h6 { font-weight:300; text-rendering:optimizeLegibility}
h1 {
  font-size:1.6em;
  font-weight: 800;
  line-height: 2em;
  margin-left:-1px;
  margin-top: 0.6667em;
  margin-bottom: 0em;
  letter-spacing:-1px;
  overflow-x:visible;
  text-rendering:optimizeLegibility;
}
h2, h3 { 
  color:$black;
  font-weight:800;
  font-size:1em;
  line-height: 1.6;
  margin-top: -0.8em;
  margin-bottom: 0.8em;
  text-rendering:optimizeLegibility;
}

h3 {
  font-weight: 300;
}

h4 {font-size:13px; font-weight:300;}
h5 {font-size:0.75em;}
h6 {font-size:0.5em;}

.m, .mono, pre, code {
  font-size:15px;
  line-height:1.6em;
  margin-bottom:1.6em;
  font-family: Consolas,Inconsolata,Monaco,monospace; 
  letter-spacing:-1px; 
  overflow:auto;
}

pre, code {
  margin-left:-15px;
  padding-left:12px;
  border-left:3px solid #eee;
}

hr {
  margin-top:3.2em;
  margin-bottom:1.6em;
  border:0;
  border-bottom: 2px #eee solid;
  width:50%;
}
.date { color:#888; font-size:13px;font-weight:normal; line-height:1.6em;margin-bottom:1.6em}

a {
  text-decoration:none;
  color:inherit;
} 

a:hover {
  color:inherit;
}

ul, ol {
  margin-bottom:1.6em;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style:circle;
  list-style-position:inside;
}

li {
  line-height:1.6em;
}

/* Here be the layout code */

.floatright {
  float:right;
  max-width:100px;
}
.floatleft {
  float:left;
}

.book {
  min-height:9.6em;
  margin-bottom:1.6em;
  padding-right:1em;
}

.bookcomment {
  text-align:justify;
  max-width:29em;
}

.author {
  max-width:30em;
}

.title {
}

.content {
  margin:0 0 0 0;
}

#header {
  width:43em;
  height:3.2em;
  margin:0 auto 24px auto;
}

#header ul { display:block;float:right;}
#header ul li { 
  color:#777;
  background:#eee;
  border:0;
  -moz-transition-property:color,background;
  -moz-transition:0.15s ease-in;
  -webkit-transition-property:color,background;
  -webkit-transition:0.15s ease-in;
  display:block; 
  float:left;
  font-weight:700;
  letter-spacing:-1px;
}
#header ul li:hover { 
  color:#fdfdfd;
  background:$magenta;
}

#header ul li a {
  display:block;
  padding: 6px 6px;
}

#name {
  color: #fdfdfd;
  font-size:24px;
  font-weight:800; 
  background:$magenta;
  display:block;
  float:left;
  padding:6px; 
  padding-top:1em;
  -moz-transition-property:padding,margin, -moz-box-shadow;
  -moz-transition:0.2s ease-in-out;
  -webkit-transition-property:padding,margin, -moz-box-shadow;
  -webkit-transition:0.2s ease-in-out;
}

#name:hover {
  -webkit-box-shadow:0 12px 0px $magenta;
  -moz-box-shadow:0 12px 0px $magenta;
}

/* Blog post list */
.postlist {margin:1em 0 0 2em; float:left}

.meta p {
  font-size:2.4em;
  font-weight:300;
  line-height: 2em;
  margin-bottom: 16px;
}
.meta .date {
  color: #888;
}

#center { 
  max-width:37em;
  margin:0 auto;
  margin-top:96px;
  padding-right:2%;

}

#center h1 a {
  background:$lgrey;
}
#center h1 a:hover {
  color: $magenta;
  background: $grey;
}

#footer a {color: $magenta; border:2px #eee dotted; 
  -moz-transition:border 0.3s ease-in;
  -webkit-transition:border 0.3s ease-in;
  font-weight:bold}
#footer a:hover {
  border-bottom:2px $magenta dotted;
}


.meta { float:left}

a>img {
  transition: border-color 0.3s ease-in;
  -moz-transition: border-color 0.3s ease-in;
  -webkit-transition: border-color 0.3s ease-in;
  margin: -0.5em;
  border: 0.5em solid white;
}
a>img:hover {
  margin: -0.5em;
  border: 0.5em solid $grey;
}

#center a { 
  transition: color, background 0.1s ease-in;
  -moz-transition: color, background 0.1s ease-in;
  -webkit-transition: color, background 0.1s ease-in;
  background: $grey;
  border-radius:0.3em;
  padding:0em 0.2em;
  margin:-0em -0.2em;
}
#center a:hover {
  background: $magenta;
  color:white;
}

/* Thumbnail image styling */
.thumb {border:none;}
a.thumb:hover {border:none}
a.thumb>img {
  margin-top:-12px;
  margin-bottom:12px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
a.thumb:hover>img {
}

.bookimg {
  margin:0;
}

#footer {
  margin-top:3.2em;
  padding-top:1.6em;
  padding-bottom:1.6em;
  border-top:1px solid #ccc;
  background: #eee;
  width:100%;
}

.center {
  text-align:center
}
.light {
  font-weight:300;
}
.small {
  font-size:13px;
  line-height:24px;
}
