<header itemprop="author" itemscope itemtype="http://schema.org/Person">
  <h1><a href='/' itemprop="name">Miloš Hadžić</a></h1>
  <p>
    I am a full-stack developer from Belgrade and I write
    about programming here. I'm currently available for freelance work and you
    should <a href='mailto:me@miloshadzic.com'>email me</a> if you'd like to
    hire me or just say Hi.
  </p>
  <ul>
    <li><a href="http://github.com/miloshadzic">Github</a></li>
    <li>•</li>
    <li><a href="http://twitter.com/miloshadzic">Twitter</a></li>
    <li>•</li>
    <li><a href="http://nagnatron.tumblr.com">Tumblr</a></li>
  </ul>
  <meta itemprop="givenName" content="Miloš" />
  <meta itemprop="familyName" content="Hadžić" />
  <meta itemprop="email" content="me@miloshadzic.com" />
  <meta itemprop="url" content="http://miloshadzic.com" />
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <meta itemscope="addressLocality" content="Beograd" />
    <meta itemscope="addressCountry" content="Serbia" />
  </div>
</header>
