html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dtfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background: #ffffff;
  font-size: 125%;
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2","serif";
  color: #333333;
  hyphens: auto;
  border-top: 0.2rem #333333 solid;
  text-rendering: optimizeLegibility; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

::-moz-selection {
  color: #333333;
  background: #f6f6f5; }

::selection {
  color: #333333;
  background: #333333; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Typography */
em {
  font-style: italic; }

p {
  line-height: 1.6em;
  margin-bottom: 1.6em;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

h1 {
  color: #333333;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 2em;
  margin-top: 0.6667em;
  margin-bottom: 0em;
  overflow-x: visible; }

h2, h3 {
  font-size: 1em;
  line-height: 1.6;
  margin-top: -0.8em;
  margin-bottom: 0.8em; }

h4 {
  font-size: 0.8em; }

h5 {
  font-size: 0.75em; }

h6 {
  font-size: 0.5em; }

.m, .mono, pre, code {
  font-family: Menlo, Monaco, DejaVu Sans Mono, monospace;
  margin-bottom: 1.6em;
  overflow: auto; }

pre, code {
  font-size: 0.90rem;
  line-height: 1.6rem;
  margin-left: -1rem;
  padding-left: 0.6rem;
  border-left: 0.4rem solid #eee; }

hr {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  border: 0;
  border-bottom: 2px #eee solid;
  width: 20rem; }

time {
  font-size: 0.95rem;
  color: #777777;
  font-style: italic;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
  margin-top: -1.6rem; }

ul, ol {
  margin-bottom: 1.6em; }

ol {
  list-style: decimal inside; }

ul {
  list-style: circle;
  list-style-position: inside; }

li {
  line-height: 1.6em; }

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  padding: 0em 0.1em;
  margin: 0em -0.1em; }

header {
  max-width: 30rem;
  margin: 0 auto; }

header h1 a {
  font-weight: normal;
  background: white; }

header p {
  font-size: 0.95rem; }

header nav {
  display: table;
  margin-left: auto;
  margin-right: auto; }

header nav ul {
  list-style-type: none; }

header nav ul li {
  color: #777;
  background: #eee;
  float: left;
  font-weight: 700; }

header nav ul li:hover {
  color: #fdfdfd;
  background: #333333; }

header nav ul li a {
  display: block;
  background: white;
  padding: 6px 6px; }

header nav ul li a:hover {
  color: #333333; }

/* Blog post list */
.postlist {
  margin: 1em 0 0 2em;
  float: left; }

.meta p {
  font-size: 2.4em;
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 16px; }

article {
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 1.6em; }

article a {
  transition: color, background 0.2s ease-in;
  -moz-transition: color, background 0.2s ease-in;
  -webkit-transition: color, background 0.2s ease-in; }

article a:hover {
  background: #f6f6f5; }

article h1 a {
  color: #333333;
  background: white; }

article h1 a:hover {
  color: #333333;
  background: #f6f6f5; }

footer {
  margin-top: 3.2em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  border-top: 1px solid #ccc;
  background: #eee;
  width: 100%;
  text-align: center; }

footer a {
  color: #333333;
  border: 2px #eee dotted;
  -moz-transition: border 0.3s ease-in;
  -webkit-transition: border 0.3s ease-in;
  font-weight: bold; }

footer a:hover {
  border-bottom: 2px #333333 dotted; }

.meta {
  float: left; }

a > img {
  transition: border-color 0.3s ease-in;
  -moz-transition: border-color 0.3s ease-in;
  -webkit-transition: border-color 0.3s ease-in;
  margin: -0.5em;
  border: 0.5em solid white; }

a > img:hover {
  margin: -0.5em;
  border: 0.5em solid #f6f6f5; }

/* Thumbnail image styling */
.thumb {
  border: none; }

a.thumb:hover {
  border: none; }

a.thumb > img {
  margin-top: -12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.bookimg {
  margin: 0; }

.small {
  font-size: 0.8rem;
  line-height: 1.6em; }
