/*
Error: Invalid CSS after "    width: 70%%": expected expression (e.g. 1px, bold), was ";"
        on line 212 of resources/sass/style.scss

207:   background: inherit;
208: }
209: 
210: header {
211:     max-width: 28rem;
212:     width: 70%%;
213:     margin: 0 auto;
214:     margin-top: 3rem;
215: }
216: 
217: header ul {

Backtrace:
resources/sass/style.scss:212
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1162:in `expected'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/lexer.rb:221:in `expected!'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:571:in `assert_expr'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:235:in `times_div_or_mod'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:227:in `plus_or_minus'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:227:in `relational'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:227:in `eq_or_neq'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:227:in `and_expr'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:227:in `or_expr'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:362:in `space'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:346:in `interpolation'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:293:in `expr'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:569:in `assert_expr'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/script/parser.rb:62:in `parse'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1024:in `sass_script'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:877:in `value!'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:750:in `block in try_declaration'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1138:in `call'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1138:in `rethrow'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:763:in `try_declaration'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:658:in `block_child'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:639:in `block'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:657:in `block_child'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:42:in `parse'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:403:in `_to_tree'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:305:in `call'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:305:in `_process_changes'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:269:in `block in _wait_for_changes'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:252:in `loop'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:252:in `_wait_for_changes'
/Users/milos/play/miloshadzic.github.com/vendor/bundle/ruby/2.2.0/gems/listen-2.10.1/lib/listen/listener.rb:341:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    width: 70%%\": expected expression (e.g. 1px, bold), was \";\"\A         on line 212 of resources/sass/style.scss\A \A 207:   background: inherit;\A 208: }\A 209: \A 210: header {\A 211:     max-width: 28rem;\A 212:     width: 70%%;\A 213:     margin: 0 auto;\A 214:     margin-top: 3rem;\A 215: }\A 216: \A 217: header ul {"; }
