html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-size: 15px;
  line-height: 24.27px;
  font-family: 'Droid Sans', 'Lucida Grande', 'Segoe UI', sans-serif;
  color: #444444;
  text-rendering: optimizeLegibility; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.m, .mono, pre {
  font-family: 'Droid Sans Mono', Monaco, Consolas, monospace;
  letter-spacing: -1px; }

pre {
  margin-bottom: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 24.27px;
  line-height: 39.269px;
  margin-bottom: 12.135px;
  letter-spacing: -1px;
  font-weight: normal;
  overflow-x: visible;
  text-rendering: optimizeGeometry; }

h2 {
  color: #ff9500;
  margin: 12.135px 0;
  text-rendering: optimizeGeometry;
  font-weight: normal; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 12.135px;
  margin-top: 12.135px;
  line-height: 24.27px; }

h5 {
  font-size: 0.75em; }

h6 {
  font-size: 0.5em; }

hr {
  margin-top: 24.27px;
  margin-bottom: 24.27px;
  border: 0;
  border-bottom: 1px #f6f6f5 solid;
  width: 61.7%; }

.date {
  color: #888;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #1693a7;
  border-bottom: 2px white dotted;
  -moz-transition: border-bottom 0.3s ease-in;
  -webkit-transition: border-bottom 0.3s ease-in; }

a:hover {
  border-bottom: 2px #1693a7 dotted; }

/* Here be the layout code */
#main {
  margin: 0 auto 0;
  max-width: 720px; }

#posts {
  float: left;
  max-width: 550px;
  margin: 12.135px 25px 0px 0px;
  padding-right: 15px;
  border-right: 3px #f6f6f5 dotted; }

.content {
  margin: 0 0 0 0; }

#header {
  float: left;
  padding-top: 22.5px; }

p {
  margin-top: 12.135px; }

#name {
  font-weight: bold; }

#header a {
  color: #444444;
  border: 0;
  -moz-transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in; }

#header a:hover {
  color: #1693a7;
  border: 0; }

/* Blog post list */
.postlist {
  margin: 1em 0 0 2em;
  float: left; }

#posts a {
  color: #444444;
  border: 0;
  -moz-transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
  font-weight: bold; }

#posts a:hover {
  color: #1693a7; }

/* Thumbnail image styling */
.thumb {
  border: none; }

a.thumb:hover {
  border: none; }

a.thumb > img {
  margin-top: 11.25px;
  -moz-box-shadow: 0px 2px 5px #f6f6f5;
  -webkit-box-shadow: 0px 2px 5px #f6f6f5;
  box-shadow: 0px 5px 5px #f6f6f5;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in; }

a.thumb:hover > img {
  -moz-box-shadow: 0px 2px 5px #ddd;
  -webkit-box-shadow: 0px 2px 5px #ddd;
  box-shadow: 0px 5px 5px #ddd; }

.book td {
  vertical-align: top; }

table.book {
  width: 100%; }

.title {
  font-weight: bold; }

.book td {
  padding: 1em 1em 1em 0em; }

.book tr {
  border-bottom: 3.305px #f6f6f5 dotted; }

a.dslink {
  color: #444444;
  border: 0;
  -moz-transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in; }

a.dslink:hover {
  color: #1693a7;
  border: 0; }

#toppaint {
  background: #fcfcfb;
  padding-bottom: 9.271px; }

#bottompaint {
  clear: both;
  background: #f6f6f5;
  padding-bottom: 102.803px; }
