---
layout: centered
---

<article itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
  <h1>
    <a href="{{ page.url }}" itemprop="name headline">{{ page.title }}</a>
  </h1>
  <time datetime='{{ page.date }}' pubdate itemprop="datePublished">{{ page.date | date: "%B %d,  %Y" }}</time>
  <section itemprop="articleBody text">
    {{ content }}
  </section>
  <p>
    <a class="liked" href="http://miloshadzic.com">Check out my other
      posts →</a>
  </p>
  <div class="byline author vcard" style="display:none">
    <span class="fn">Miloš Hadžić</span>
  </div>
  <meta itemprop="author" content="Miloš Hadžić" />
  <meta itemprop="url" content="http://{{ site.host }}{{ page.url }}" />
</article>
